.header {
  font-family: sans-serif;
  color: #003300;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  padding: 15px;

}

.container {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

@media only screen and (max-width: 768px) {
  .container
    {
      flex-direction: column;
    }
  }

.box {
  height: 200px;
  width: 275px;
  border: 2px solid black;

}

@media only screen and (max-width: 768px) {
  .box
    {
      margin-bottom: 15px;
    }
  }
