body {
  margin: 0;
}

.header {
  font-family: sans-serif;
  color: #003300;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  padding: 0;
}

.navbar li {
  display: inline;
  padding: 15px;

}


.container {
  display: flex;
  justify-content: center;
  margin: 30px;

}

@media only screen and (max-width: 768px) {
  .container
    {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      margin-right: 0;
    }
  }

.box {
  height: 200px;
  width: 275px;
  border: 1px solid black;
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 768px) {
  .box
    {
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      height: 300px;
      border: 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
  }

.featuredpost {
  overflow: hidden;
  position: relative;
}

.featuredpost img {
  height: 100%;
  opacity: .70;

}

.feature-text {
  text-align: center;
  position: absolute;
  width: 80%;
  top: 20%;
  left: 9%;
  padding: 2px;
  background-color: rgba(189, 191, 193, .8);

}

.wide-box {
  width: 100%;
  height: 300px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.wide-featuredpost {
  overflow: hidden;

}

.wide-featuredpost img {
  width: 110%;

}

@media only screen and (max-width: 768px) {
  .wide-box {
    margin-top: -30px;
  }
}

.main-content {
 margin: 30px;
}

.sidebar {
  width: 25%;
  float: right;
  border: 1px solid black;
  text-align: center;
}

.post-list {
  width: 72%;

}
